body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 80%;
}

.message {
    word-wrap:break-word;
    border-top: #ccc solid 1px;
}
.content {
    height:auto;
    width:100%;
}

.buttons {
    height: 50px;
    position: absolute;
    top: 50px;
    width: 100%;
    border-bottom: #aaa solid 1px;
    padding-bottom: 10px;
    z-index:10;
}

.wrapper {
    position:absolute;
    top:100px;
    bottom:0px;
    width:100%;
    overflow-y: scroll;
}